<!DOCTYPE html>
<html>
<head>
    <title>Pick a Location</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <h1>Click on the Map to Select a Location</h1>
    <form action="/result" method="POST">
        <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="lon" name="lon">
        <div id="map" style="height: 400px;"></div>
        <br>
        <button type="submit">Get Data</button>
    </form>

    <script>
        var map = L.map('map').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        var marker;
        map.on('click', function(e) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
            document.getElementById("lat").value = e.latlng.lat;
            document.getElementById("lon").value = e.latlng.lng;
        });
    </script>
</body>
</html>

